@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family: 'Monument Extended', Arial, Helvetica, sans-serif; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family); 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Monument Extended';
  src: url('/fonts/MonumentExtended-Regular.woff2') format('woff2'),
       url('/fonts/MonumentExtended-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('/fonts/MonumentExtended-Bold.woff2') format('woff2'),
       url('/fonts/MonumentExtended-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

