@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Variables for color themes */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Body Styles with Custom Font and Theme Support */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Monument Extended', Arial, Helvetica, sans-serif; /* Set your custom font */
}

/* Custom Font Faces for Monument Extended */
@font-face {
  font-family: 'Monument Extended';
  font-weight: normal; /* Regular weight */
  font-style: normal;
  src: url('/fonts/MonumentExtended-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Monument Extended';
  font-weight: bold; /* Bold weight */
  font-style: normal;
  src: url('/fonts/MonumentExtended-UltraBold.otf') format('opentype');
}

/* Custom Tailwind Utility Layer */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

.font-comfortaa {
  font-family: 'Comfortaa', cursive;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
