@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Variables for color themes */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Body Styles with Custom Font and Theme Support */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Monument Extended', Arial, Helvetica, sans-serif; /* Set your custom font */
}

/* Custom Font Faces for Monument Extended */
@font-face {
  font-family: 'Monument Extended';
  font-weight: normal; /* Regular weight */
  font-style: normal;
  src: url('/fonts/MonumentExtended-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Monument Extended';
  font-weight: bold; /* Bold weight */
  font-style: normal;
  src: url('/fonts/MonumentExtended-UltraBold.otf') format('opentype');
}

/* Custom Tailwind Utility Layer */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
